@charset "utf-8";

/* Box Sizing Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --all-black: #000000;
  --primary-black: #222222;
  --primary-neon-green: #c7fe46;
  --primary-neon-green-dark: rgb(118, 163, 14);
  --primary-neon-blue: #3edfd4;
  --primary-neon-blue-dark: rgb(13, 136, 136);
  --primary-medium-blue: #2723ff;
  --primary-medium-blue-light: rgba(39, 35, 255, 0.2);
  --primary-white: #ffffff;
  --title-stroke-width: 0.2rem;
  --title-stroke-width-neg: -0.2rem;
  --banner-desktop-height: 800px;
  --nav-desktop-height: 60px;
  --max-width: 1400px;
  --mobile-edge-space: 1.25rem;
  --desktop-edge-space: 0.8rem;
  --icon-size: 42px;
}

html {
  font-size: 24px;
}

.unselectable {
  user-select: none;
}

/*
  ========================================================================================
  Typography
  ========================================================================================
*/

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  span:first-child,
  span > span {
    max-width: var(--max-width);
    margin: auto;
  }
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  grid-row: 1;
}

body {
  background-color: var(--primary-black);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.highlight-outline {
  font-family: 'Climate Crisis', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'YEAR' 2000;
  text-transform: uppercase;
  text-shadow: var(--title-stroke-width-neg) var(--title-stroke-width-neg) 0
      var(--primary-black),
    var(--title-stroke-width) var(--title-stroke-width-neg) 0
      var(--primary-black),
    var(--title-stroke-width-neg) var(--title-stroke-width) 0
      var(--primary-black),
    var(--title-stroke-width) var(--title-stroke-width) 0 var(--primary-black);
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/*
  ========================================================================================
  Navigation
  ========================================================================================
*/

nav {
  position: fixed;
  background-color: var(--primary-black);
  width: 100%;

  .nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width);
    padding: 0rem var(--mobile-edge-space);
    margin: auto;
  }

  ul {
    grid-column: span 2;
    grid-row: 2;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--primary-white);
    line-height: 1.5;
    font-size: 1.5rem;
  }

  a:hover,
  a:active,
  a:focus {
    /* background-color: rgb(136, 136, 136); */
    color: var(--primary-neon-green);
  }

  li {
    margin-top: 20px;
  }

  li:last-child {
    margin-bottom: 2rem;
  }

  .menu-btn {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: end;
    /* color: white; */
    background-color: transparent;
    width: 60px;
    height: 100%;
    align-content: center;
  }
}

/* General */

a:has(.logo) {
  grid-column: 1/2;
  grid-row: 1;
}

a {
  /* Remove highlight as pressed */
  -webkit-tap-highlight-color: transparent !important;
}

/* Animation */
/* hamburger menu */

nav:not(.show) {
  ul {
    max-height: 0;
    transition: max-height 0.5s ease;
  }

  a:not(:has(.logo, img)) {
    transition: opacity 0.25s ease-out;
    opacity: 0;
  }

  .menu-btn img {
    opacity: 1;
    transition: opacity 0.25s ease;
  }
}

/* dropdown menu */
/* note the specificity */
.show {
  /* nav:has(.show) { */
  ul {
    max-height: 100vh;
    transition: max-height 0.5s ease-in;
  }

  a:not(:has(.logo, img)) {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    transition-delay: 0.25s;
  }

  .menu-btn img {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
}

/*
  ========================================================================================
  Header
  ========================================================================================
*/

header {
  z-index: 10;
  position: absolute;
  top: 0;
  padding: 0;

  p {
    grid-area: logo;
    padding-left: 0px;
    margin-left: 0px;
  }

  p,
  a {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  .logo {
    height: 60px;
    width: 60px;
    margin: var(--desktop-edge-space) 0;
  }
}

h1 {
  .title-black-box {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: var(--primary-neon-green);
    padding-left: var(--desktop-edge-space);
    z-index: 10;
    font-size: calc(3rem + 5vw);
    line-height: calc(3rem + 3vw);
  }

  .title-whistler {
    padding-left: var(--desktop-edge-space);
    font-family: 'Climate Crisis', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'YEAR' 2000;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary-black);
    line-height: 5vw;
    font-size: 10vw;
  }

  .title-black-box {
    padding-top: 2vw;
    background-color: var(--primary-black);
  }

  .title-festival {
    padding-left: 0.25rem;
    font-family: 'Climate Crisis', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'YEAR' 2000;
    text-transform: uppercase;
    color: var(--primary-black);
    text-shadow: var(--title-stroke-width-neg) var(--title-stroke-width-neg) 0
        var(--primary-neon-green),
      var(--title-stroke-width) var(--title-stroke-width-neg) 0
        var(--primary-neon-green),
      var(--title-stroke-width-neg) var(--title-stroke-width) 0
        var(--primary-neon-green),
      var(--title-stroke-width) var(--title-stroke-width) 0
        var(--primary-neon-green);
    font-size: calc(1rem + 1vw);
    line-height: calc(2.5rem + 2vw);
    letter-spacing: 0.3rem;
  }

  span {
    display: block;
  }
}

.banner {
  position: absolute;
  height: var(--banner-desktop-height);
  width: 100%;
  z-index: 1;
  /* top: 1rem; */
  overflow: hidden;

  h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    margin: 0;
  }

  .banner-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-image: url('../images/index/skiiers1.jpg');
    background-size: cover;
    z-index: 1;
  }

  .decorative-s-green,
  .decorative-s-blue {
    all: unset;
    position: absolute;
    z-index: 5;
  }
  .decorative-s-green {
    width: 70%;
    left: 0;
    margin-top: -4%;
    margin-left: -20%;
  }
  .decorative-s-blue {
    width: 30vw;
    margin-right: calc(-30vw / 1.5);
    right: 0;
  }
}

/*
  ========================================================================================
  Container sections
  ========================================================================================
*/

.detail-content,
.help-content,
.event-content {
  z-index: 0;
  margin-top: var(--banner-desktop-height);
  background-color: var(--primary-black);
}

header.event-header,
main.event-container,
footer.event-footer {
  width: 100%;
  overflow: hidden;
}

.event-container {
  text-align: left;
  padding: 0px;
  z-index: 5;
  h1,
  h2,
  /* h3, */
  h4,
  h5,
  p {
    text-align: left;
  }
}

.event-section-activities,
.event-section-team {
  max-width: var(--max-width);
  margin: auto;
}

/*
  ========================================================================================
  Info Section
  ========================================================================================
*/

.event-section-info {
  padding: 0rem; /* stretch to the end on mobile */

  .event-section-info-content {
    background-color: var(--primary-neon-blue);
    border: none;
    padding: var(--mobile-edge-space);
    margin: 0;
    h2,
    p {
      grid-column: span 3;
    }

    .highlight-outline {
      color: var(--primary-neon-blue);
    }

    p {
      font-family: 'Barlow', sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      line-height: 180%;
    }

    h2 span:nth-of-type(2) {
      display: block;
      padding-bottom: 2rem;
    }
  }

  .event-section-info-content > * {
    display: block;
  }

  img {
    width: 100%;
  }
}

/*
  ========================================================================================
  About Section
  ========================================================================================
*/

.event-section-about {
  .event-section-about-content {
    background-color: var(--primary-neon-green);
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 3;
    justify-self: stretch;
    padding: 2rem var(--mobile-edge-space);
  }

  h2 {
    width: 100%;
    /* text-align: center; */
  }

  span {
    display: block;
    padding-bottom: 1rem;
  }

  img {
    width: 100%;
  }

  .highlight-outline {
    color: var(--primary-neon-green);
  }
}

/*
  ========================================================================================
  Activities Section
  ========================================================================================
*/

.event-section-activities {
  background-color: var(--primary-black);
  display: grid;
  grid-template-columns: 1fr;

  .activity-card {
    box-sizing: content-box;
    text-decoration: none;
    /* border-bottom: 0.5rem solid rgba(255, 255, 255, 0); */
    .activity-name {
      border-top: 0.5rem solid rgba(255, 255, 255, 0);
      /* border-bottom: 0.5rem solid rgba(255, 255, 255, 0); */
      /* transition: all 0.15s ease; */
    }
    img {
      opacity: 1;
    }
  }

  .activity-card:hover {
    /* border-left: 0.5rem solid rgba(255, 255, 255, 0.5); */
    /* border-bottom: 0.5rem solid var(--primary-neon-green); */

    .activity-name {
      border-top: 0.5rem solid var(--primary-neon-green);
      /* border-bottom: 0.5rem solid var(--primary-neon-green); */
      transition: all 0.5s ease;
    }
    img {
      opacity: 1;
    }
  }

  h2 {
    /* text-align: center; */
    text-transform: uppercase;
    color: var(--primary-neon-green);
  }

  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--primary-white);
    margin: 0.5rem 0;
  }

  .section-header {
    grid-column: span 1;
    /* justify-items: center;
    align-content: center; */
  }

  .activity-list {
    display: grid;
    gap: 0;
    grid-column: 1;
    grid-template-columns: subgrid;
    flex-direction: column;
    /* justify-self: center; */
    /* align-items: center; */
    /* gap: 2rem; */
  }

  .activity-name {
    margin-top: -0.5rem;
    padding: 1rem;
    padding-bottom: 3rem;

    h3 {
      margin-top: 0;
    }
  }

  .custom-button {
    background-color: var(--primary-neon-green);
    color: var(--primary-black);
  }

  article img {
    width: 100%;
  }
}

/*
  ========================================================================================
  TEAM Section
  ========================================================================================
*/

.event-section-team {
  background-color: var(--primary-medium-blue);
  color: var(--primary-white);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--primary-white);
    margin: 0.5rem 0;
  }

  p {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 1.5rem;
    line-height: 1.4rem; */
    margin: 0.5rem 0;
    font-size: 0.7rem;
    line-height: 0.8rem;
  }

  .custom-button {
    background-color: var(--primary-neon-blue);
    border: 3px solid var(--primary-neon-blue);
    justify-self: center;
    color: var(--primary-black);
  }

  .custom-button:hover {
    border: 3px solid var(--primary-neon-blue);
    color: var(--primary-neon-blue);
  }

  .team-list {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-column: 1/4;
    grid-template-columns: subgrid; */
    gap: 2rem;
  }

  div:first-of-type h2 {
    grid-column: span 3;
  }

  .team-member {
    text-align: center;

    img {
      width: 50%;
      margin-bottom: 1rem;
    }
    h3 {
      /* font-size: 2rem;
      margin-bottom: 2rem; */
    }

    .tag {
      font-weight: 500;
      margin: 0.25rem;
      text-align: center;
    }
  }

  .credits {
    grid-column: span 8;
    padding: 2rem 0;
    padding-bottom: 2rem;
    max-width: var(--max-width);
    margin: auto;

    p {
      font-family: 'Barlow', sans-serif;
      font-weight: 300;
      /* font-size: 1.5rem;
      line-height: 2rem; */
      color: white;
      opacity: 0.5;
      margin: 0;
      text-align: center;
    }
  }
}

/*
  ========================================================================================
  Images
  ========================================================================================
*/

.event-content > img {
  width: 100%;
}

.event-content > img:nth-of-type(2) {
  display: none;
}

/*
  ========================================================================================
  Etc
  ========================================================================================
*/

.anchor {
  height: 1px;
}

.tag {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--primary-neon-green);
  border: 2px solid var(--primary-neon-green);
  padding: 0.2rem 0.5rem;
  display: inline-block;
}

img,
section {
  margin: 0;
  border: none;
}

/*
  ========================================================================================
  Button
  ========================================================================================
*/

button {
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  margin-bottom: 2rem;
}

.custom-button {
  display: block;
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 3px solid var(--primary-neon-green);
  background-color: var(--primary-neon-green);
  margin-bottom: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
}

.custom-button:hover {
  text-decoration: underline;
  border: 3px solid var(--primary-neon-green);
  color: var(--primary-neon-green);
  background-color: transparent;
  transition: all 0.15s ease;
}

/*
  ========================================================================================
  Footer 
  ========================================================================================
*/

.event-footer {
  padding: var(--mobile-edge-space);
  background-color: var(--primary-black);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: calc(var(--mobile-edge-space) * 2);
  max-width: var(--max-width);
  margin: auto;

  h5 {
    display: inline;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--primary-neon-green);
    margin: 0;
    align-self: center;

    span {
      display: block;
      text-align: left;
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  a,
  p {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-white);
  }

  .footer-title {
    grid-column: span 2;
    .footer-logo {
      display: flex;
      gap: 0.8rem;
      margin-bottom: 2rem;
    }

    .logo {
      width: calc(54px * 2);
      height: calc(54px * 2);
    }
  }

  .footer-links {
    ul {
      margin: 0;
      width: 25%;

      hr {
        border-width: 0.5px;
        margin-bottom: 1rem;
      }
    }

    a {
      text-decoration: none;
      font-family: 'Barlow', sans-serif;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      font-style: normal;
      color: var(--primary-white);
      /* font-size: 1.3rem; */
      border-bottom: 3px solid rgba(255, 255, 255, 0);
    }
    a:hover {
      /* color: var(--primary-neon-green); */
      border-bottom: 3px solid var(--primary-neon-green);
      transition: all 0.25s ease;
    }
  }

  .footer-privacy {
    display: flex;
    text-align: left;
    grid-column: span 2;
    gap: 1.5rem;
    border-bottom: 1px solid grey;

    padding-bottom: 1rem;
    a {
      opacity: 0.5;
    }
    a:hover {
      opacity: 1;
      transition: all 0.25s ease;
    }
  }

  .footer-copyright {
    grid-column: span 2;
    width: 100%;
    /* margin-top: 0.5rem; */
    & > p {
      text-align: left;
      margin: 0.1rem 0rem;
      opacity: 0.5;
    }
  }

  ul {
    padding-left: 0;
    margin: 0;
    li {
      list-style-type: none;
      text-align: left;
      padding-bottom: 0.5rem;
    }
  }
}

.socials {
  grid-column: 1;
  display: flex;
  justify-self: start;
  gap: var(--mobile-edge-space);

  img {
    width: var(--icon-size);
    align-items: end;
    align-content: end;
    align-self: flex-end;
    border-bottom: 3px solid none;
    padding-bottom: 0.25rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
  }
  img:hover {
    border-bottom: 3px solid var(--primary-neon-green);
    transition: all 0.25s ease;
  }
}

/*
  ========================================================================================
  Footer - decorative 
  ========================================================================================
*/

.event-section-banner {
  img {
    width: 100%;
  }
  .decorative-s-line {
    height: 12vw;
    margin-top: -20vw;
    overflow: hidden;
    img {
      width: 150vw;
      transform: translateX(-10%);
    }
  }
}

/* No need to show extra decoration elements on mobile */
.info-bg-text {
  display: none;
}

/* 
  ========================================================================================
  Tablet styles - Nav
  ========================================================================================
*/

@media (min-width: 768px) {
  nav {
    padding: 0 var(--desktop-edge-space);
    .nav-container {
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
    }
    ul {
      display: flex;
      flex-direction: row;
      grid-column: 2/3;
      grid-row-start: 1 !important;
      gap: 1rem;
      width: 100%;
      justify-content: end;
    }
  }

  a:not:has(.logo) {
    transition: all 0.5s ease;
    opacity: 1;
  }

  nav:not(.show) {
    a:not(:has(.logo, img)) {
      transition: opacity 0.5s ease-out;
      opacity: 1;
    }
  }

  .menu-btn {
    display: none;
  }
}

/* 
  ========================================================================================
  Tablet styles 
  ========================================================================================
*/

@media (min-width: 1024px) {
  h1 {
    .title-whistler {
      padding-left: 0;
      font-size: 4.5rem;
      line-height: 3.5rem;
    }

    .title-black-box {
      padding-left: 0;
      span {
        font-size: 6rem;
        line-height: 5rem;
      }
    }

    .title-black-box .title-festival {
      font-size: 2rem;
      line-height: 4rem;
    }
  }
}
@media (min-width: 768px) {
  /* ============= Info Section ============= */

  .event-section-info {
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width);
    margin: auto;

    img {
      overflow: visible;
      z-index: 0;
      order: 1;
      grid-column: span 1;
    }

    .event-section-info-content {
      grid-column: span 1;
      order: 2;
      z-index: 1;
      grid-column: 2;
      padding-bottom: 3rem;
      border-left: 0.5rem solid var(--primary-neon-blue-dark);
      border-bottom: 0.5rem solid var(--primary-neon-blue-dark);
    }

    .info-bg-text {
      order: 3;
      transform: translateX(-50%);
      overflow: visible;
    }
  }

  /* ============= About Section ============= */

  .event-section-about {
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width);
    margin: auto;

    img {
      overflow: visible;
      z-index: 0;
      order: 2;
      grid-column: span 1;
    }

    .event-section-about-content {
      grid-column: span 1;
      order: 1;
      z-index: 1;
      border-right: 0.5rem solid var(--primary-neon-green-dark);
      border-bottom: 0.5rem solid var(--primary-neon-green-dark);
      height: fit-content;
    }

    .info-bg-text {
      order: 3;
      transform: translateX(-50%);
      overflow: visible;
    }
  }
  /* ============= Activities Section ============= */

  .event-section-activities {
    .activity-card {
      border-bottom: 0.5rem solid rgba(255, 255, 255, 0);
      img {
        opacity: 0.5;
      }
    }

    .section-header {
      grid-column: 1/3;
    }

    .activity-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 0.5rem;
      row-gap: 2rem;
    }

    .activity-name {
      padding-bottom: 1rem;
      h3 {
        font-size: 2.5rem;
        text-decoration: none;
        text-decoration-line: none;
      }
      .tag {
        margin-top: 0.5rem;
      }
      /* border-left: 1rem solid var(--primary-medium-blue);
      border-right: 1rem solid var(--primary-neon-green);
      border-bottom: 1rem solid var(--primary-neon-blue); */
    }

    .custom-button {
    }

    .activity-card {
    }

    .info-bg-text {
      order: 3;
      transform: translateX(-50%);
      overflow: visible;
    }
  }
  /* ============= Team Section ============= */

  .event-section-team {
    .team-list {
      flex-direction: row;
      justify-content: center;
      padding: 0 4rem;
    }

    .team-member {
      flex: 1;
    }
  }

  /* ============= Footer Image Section ============= */

  .event-section-banner {
  }

  /* ============= Footer Section ============= */

  .event-footer {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;

    .footer-title {
      grid-column: 1/2;
    }

    .footer-links {
      grid-column: 2/3;

      justify-self: center;
    }

    .footer-privacy {
    }

    .footer-copyright {
    }

    ul {
      li {
      }
    }
  }

  .socials img {
  }

  /* ============= Text ============= */
  .info-bg-text {
    all: inherit;
    display: block;
    grid-column: span 7;
    justify-self: center;

    /* one line */
    overflow: hidden;
    white-space: nowrap;

    /* style */
    color: var(--primary-black);
    font-family: 'Climate Crisis', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'YEAR' 2000;
    font-size: 8rem;
    text-transform: uppercase;
    text-shadow: var(--title-stroke-width-neg) var(--title-stroke-width-neg) 0
        var(--primary-medium-blue-light),
      var(--title-stroke-width) var(--title-stroke-width-neg) 0
        var(--primary-medium-blue-light),
      var(--title-stroke-width-neg) var(--title-stroke-width) 0
        var(--primary-medium-blue-light),
      var(--title-stroke-width) var(--title-stroke-width) 0
        var(--primary-medium-blue-light);
  }

  /*
    ============================================================
    Other pages
    ============================================================
  */

  .help-content img:nth-of-type(3),
  .event-content img:nth-of-type(3) {
    grid-column: span 7;
    height: 500px;
    object-fit: cover;
    background-position: center top;
  }

  /*
    ============================================================
    Images
    ============================================================
  */

  img.decorative-s-green,
  img.decorative-s-blue {
    all: unset;
    position: absolute;
  }

  img.decorative-s-green {
    width: 50%;
    left: 0;
    max-width: 500px;
    margin-top: -5%;
    margin-left: -10%;
    z-index: 5;
  }
  img.decorative-s-blue {
    width: 30%;
    max-width: 400px;
    right: -15%;
    z-index: 15;
  }
}

/* 
  ========================================================================================
  Other Pages
  ========================================================================================
*/

dl {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.help-qa {
  /* background-color: var(--primary-medium-blue); */
  padding: 2rem;
  color: white;
  height: fit-content;
  max-width: var(--max-width);
  margin: auto;

  h2 {
    font-family: 'Barlow Condensed', sans-serif;
    /* see above */
    color: white !important;
    text-transform: uppercase;
    margin: 4rem 0;
  }
}

dl {
  font-size: 1.3rem;

  dt {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-neon-green);
  }

  dd {
    margin-bottom: 2rem;
    text-transform: none;
    font-weight: 300;
  }
}

.help-qa h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  color: var(--primary-black);
  grid-row: 1;
}

.help-content .credits,
.detail-content .credits {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 3rem;
  color: white;
  opacity: 0.5;
  grid-row: 1;
}

.event-footer-qa > div:first-of-type,
.event-footer-qa > div:nth-of-type(2) {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  padding: 2rem 0;
}

.detail-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  p,
  h3 {
    color: white;
  }
}

.event-detail-header {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

.detail-content {
  h3,
  p {
    font-weight: 400;
  }

  h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
  }

  p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
  }

  .custom-button {
    margin-top: 2rem;
    background-color: var(--primary-neon-green);
    color: var(--primary-black);
    width: fit-content;
  }
}

.event-detail-dates p {
  color: var(--primary-neon-blue);
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
}
